# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5117b6fa223a5441a1c3af7e45b5b343808e42d7bcd62044699848cfc31a1e0ecbea755b586292cfd9eaee1f755ff72549c5d0baed480abc3a2aef98002d8d9d

test:
  secret_key_base: 3e79b9a908bd52f870db810e7d6fd161ff62eda86844d7355c3397cbd9249ee92486f4ff235cbfd24fd2dc2a00ea22b5e9f844b25d02b79d2a0f7e0b46f3e73c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
